<%= form_for(@flux) do |f| %>
  <% if @flux.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flux.errors.count, "error") %> prohibited this flux from being saved:</h2>

      <ul>
      <% @flux.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :song_id %><br />
    <% all_songs = Song.all %>
    <% menu_items = all_songs.map {|s| [s.song_name, s.id]} %>
    <%= f.select :song_id, menu_items %>
  </div>

  <%= f.hidden_field :party_id %>
  <%= f.hidden_field :score %>

  <div class="actions">
    <%= link_to 'Song not listed?', :controller => 'songs', :action => 'new'%>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
