<p id="notice"><%= notice %></p>

<p>
  <b>Score:</b>
  <%= @flux.score %>
</p>

<p>
  <b>Party:</b>
  <%= @flux.party_id %>
</p>


<%= link_to 'Edit', edit_flux_path(@flux) %> |
<%= link_to 'Back', fluxes_path %>
